$secondary_red: #e31c1c;
$primary_yellow: #ffd33a;
$cursive_font: "Pinyon Script", cursive;
$normal_font: "Montserrat", sans-serif;



body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 200;
	font-family: "Montserrat", sans-serif;
	font-style: italic;
	line-height: 40px;
  }
  
  body h3 {
	font-family: "Pinyon Script", cursive;
	font-size: 48px;
	font-style: normal;
  }
  
  body h4 {
	font-family: "Pinyon Script", cursive;
	font-size: 40px;
  }
  
  body p {
	font-size: 20px;
  }
  
  .main {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	font-family: 'Dancing Script', cursive;
  }
  
  .navbar {
	background-color: #ffd33a;
  }
  
  .nav-link {
	color: #e31c1c;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-size: 22px;
	padding-left: 13px !important;
	padding-right: 13px !important;
  }
  
  .curtain_grid {
	opacity: 1;
	position: relative;
	width: 45px;
	height: 77px;
	top: -37px;
	z-index: -1;
	right: 10px;
  }
  
  .circles {
	opacity: 1;
	fill: #ffd33a;
  }
  
  .circle {
	left: 5px;
	top: 0px;
  }
  
  .curtains_main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	direction: row;
  }
  
  .navbar-toggler-icon {
	background-color: #e31c1c;
  }
  
  .collapse {
	background-color: #ffd33a;
  }
  
  .menu_button i {
	font-size: 30px;
	color: #e31c1c;
  }
  
  .jumbo img {
	position: relative;
	bottom: 120px;
	z-index: -2;
  }
  
  .content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		justify-content: space-around;
	margin-bottom: 70px;
  }
  
  .cake_images {
		text-align: center;
	height: 400px;
  }
  
  .cake_images .image_two {
	position: relative;
	left: 180px;
	bottom: 160px;
  }
  
  .cake_images .image_three {
	position: relative;
	bottom: 360px;
	right: 160px;
  }
  
  .cake_images .image_show {														
	width: 250px;
	// height: 280px;
	height: auto
  }
  
  .cake_info {
	text-align: center;
	p {
		font-size: 24px;
	}
	}
	.image_show_special_div {
		margin: auto;
		width: 280px;
		height: 180px;
	}
		
  .image_show_special {
		height: 180px;
	width: 100%;
	object-fit: cover;
  }
  
  .special_info {
	text-align: center;
  }
  
  .special_products {
	text-align: center;
  }
  
  .special_name {
	font-size: 26px;
	font-family: $cursive_font;
  }
	
	.image_show_popular_div {
		margin: auto;
		width: 250px;
		height: 160px;
	}
		
  .image_show_popular {
		height: 160px;
	width: 100%;
	object-fit: cover;
  }
  
  .popular_info {
	text-align: center;
  }
  
  .popular {
	text-align: center;
  }
  
  .popular_name {
	font-size: 24px;
	font-family: $cursive_font;
  }
  
  @media only screen and (max-width: 970px) {
	.cake_info {
	  position: relative;
	  top: 85px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.cake_info {
	  position: relative;
	  top: 85px;
	}
	.cake_images {
	  height: 200px;
	  position: relative;
	}
	.cake_images .image_show {
	  width: 180px;
	  // height: 200px;
	}
	.cake_images .image_two {
	  position: relative;
	  left: 160px;
	  bottom: 160px;
	}
	.cake_images .image_three {
	  position: relative;
	  left: 40px;
	  bottom: 280px;
	}
	.cake_images .image_one {
	  position: relative;
	  left: 40px;
	  bottom: 40px;
	}
	.image_show_popular {
	  width: 270px;
	  height: 180px;
	}
  }
  
  .para {
	margin-bottom: 80px;
  }
  
  @media only screen and (max-width: 600px) {
		.cake_images {
			text-align: center;
		height: 250px;
		right: 30px;
		top: 80px;
		}

		.product_main {
			position: relative;
			right: 10px;
		}
		
		.cake_images .image_two {
		position: relative;
		left: 120px;
		bottom: 130px;
		}
		
		.cake_images .image_three {
		position: relative;
		bottom: 250px;
		left: -70px;
		}
		
		.cake_images .image_show {														
		width: 150px;
		// height: 280px;
		height: auto
		}
	.circle {
	  width: 10px;
	  height: 25px;
	  left: 0px;
	  top: 0px;
	}
	.curtain_grid {
	  position: relative;
	  margin: 1px;
	  top: -40px;
	  z-index: -1;
	}
	.navbar {
	  background-color: #ffd33a;
	}
	.jumbo img {
	  position: relative;
	  bottom: 80px;
	  z-index: -2;
	}
  
  
  .product_image {
	  width: 100%;
	}
	
	.special_products {
		.image_show_special_div {
			margin: auto;
			width: 240px;
			height: 120px;
		}
			
		.image_show_special {
			height: 120px;
		width: 100%;
		object-fit: cover;
		}
		.special_name {
			font-size: 24px;
		}
		
	}
	.popular_info {
		// box-shadow: 1px 1px 1px 10px rgb(190, 190, 190);
	}
		.popular {
			.popular_product {
				text-align: center;
				// width: 160px;
				margin: auto;
				position: relative;
				right: 15px;
			}
			.image_show_popular_div {
				width: 160px;
				height: 90px;
			}
				
			.image_show_popular {
				height: 110px;
			width: 100%;
			object-fit: cover;
			}
			.popular_name {
				font-size: 24px;
			}
			.popular_info {
				text-align: center;
				width: 160px;
				margin: auto;
			}
	}
	.cake_info p {
		position: relative;
		margin-top: 0px;
		padding: 0px;
		font-family: $normal_font;
		font-size: 16px;
	}
}
  .testimonials_info {
	text-align: center;
	padding-top: 40px;
  }
  
  .testimonials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		justify-content: space-around;
  }
  
  .slider .testimonial {
	width: 300px;
	height: 400px;
	margin: auto;
	padding-top: 40px;
	margin-left: 20px;
	background-color: #ffd33a;
	text-align: center;
	border-radius: 150px;
  }
  
  .slider .testimonial img {
	border-radius: 50%;
	margin: auto;
  }
  
  .slider .testimonial h4 {
	font-size: 35px;
	font-family: "Pinyon Script", cursive;
	margin-top: 30px;
	margin-bottom: 30px;
  }
  
  .slider .testimonial p {
		font-family: $normal_font;
	font-size: 18px;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
	}
	
  
  .product_main {
	  list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: flex;
	justify-content: center;
	display: -webkit-flex;
  }
  
  .product {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 10px 20px 10px 20px;
	min-width: 190px !important;
	max-width: 190px;
	height: 270px !important;
	-webkit-box-shadow: 0.1px 0.1px 15px #d6d6d6;
			box-shadow: 0.1px 0.1px 15px #d6d6d6;
  }
  .product_image{
		// width: 160px;
		height: 160px;
	}
  .product .image_show {
		height: 160px;
	width: 100%;
	// margin: 0;
	// padding: 0;
	object-fit: cover;
  }
  
  .product .product_info {
	margin-top: 12px;
	padding-left: 10px;
	font-style: normal;
  }
  
  .product .product_price {
	position: relative;
	bottom: 8px;
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
  }
  
  .product .product_name {
	font-family: "Pinyon Script", cursive;
	font-size: 25px;
  }
  
  footer {
	/* position: fixed; */
	bottom: 0;
	}
	
  
  @media (max-height: 800px) {
	footer {
	  position: static;
	}
	header {
	  padding-top: 40px;
	}
  }
  
  .footer-distributed {
	background-color: #2c292f;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
  }
  
  /* Footer left */
  .footer-distributed .footer-left {
	width: 30%;
  }
  
  .footer-distributed h3 {
	color: #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
  }
  
  // /* The company logo */
  // .footer-distributed .footer-left img {
	// width: 30%;
  // }
  
  .footer-distributed h3 span {
	color: #e0ac1c;
  }
  
  /* Footer links */
  .footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
  }
  
  .footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
  }
  
  .footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  }
  
  /* Footer Center */
  .footer-distributed .footer-center {
	width: 35%;
  }
  
  .footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
  }
  
  .footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
	color: #e0ac1c;
	text-decoration: none;
  }
  
  /* Footer Right */
  .footer-distributed .footer-right {
	width: 30%;
  }
  
  .footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
	margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
  }
  
  /* Here is the code for Responsive Footer */
  /* You can remove below code if you don't want Footer to be responsive */
  @media (max-width: 880px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
	  display: block;
	  width: 100%;
	  margin-bottom: 40px;
	  text-align: center;
	}
	.footer-distributed .footer-center i {
	  margin-left: 0;
	}
  }
  /*-----------------
  Main Content
  ------------------*/
  
  
  .main-content{
  box-sizing: border-box;
  padding: 0 0px;
  }
  
  
  
  @media (max-width: 600px){
  
  .main-content{
	margin: 45px auto;
	// padding: 0 25px;
  }
  
  }
// .product_prix=ce
  /*---------------------------
  Single Product Page
  ----------------------------*/
  
  .single-product{
	z-index: 100;
	text-align: center;
	p {
	
			font-family: $normal_font;
	font-style: normal;
	}
  }
  
  .overlay{
  height: 0px;
  width: 100%;
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  background-color: rgb(48, 47, 47);
  opacity: 0.9;
  transition: 0.6s;
  z-index: 100;
  }
  
  .single-product.visible .overlay{
  height: 100%;
  }
  
  .preview-large{
  box-sizing: border-box;
  width: 30%;
  height: auto;
  position: fixed;
  left: 35%;
  /* margin-left: 135px; */
  
  top: 20%;
  // margin-top: -275px;
  pointer-events: none;
  
  border-radius: 6px;
  background-color:  #ffffff;
  
  z-index: 102;
  opacity: 0;
  transition: 0.4s;
  
  }
  @media (max-width: 900px){
  
		.preview-large{
			box-sizing: border-box;
			width: 50%;
			height: auto;
			position: fixed;
			// left: 32%;
			/* margin-left: 135px; */
			
			top: 40%;
			margin-top: -275px;
			pointer-events: none;
			
			border-radius: 6px;
			background-color:  #ffffff;
			
			z-index: 102;
			opacity: 0;
			transition: 0.4s;
			
			}
		}

		@media (max-width: 500px){
			.product-price {
				font-family: $normal_font;
			}
			.single_product_view {
				width:100%;
				height:290px !important;
				overflow:hidden;
			}
			
		
					
				.single_product_image {
					display: block;
				width: 100%;
				}
			.preview-large{
				box-sizing: border-box;
				width: 90%;
				height: auto;
				position: fixed;
				// left: 12%;
				/* margin-left: 135px; */
				
				
				margin: 0;
				padding: 0;
				left: 20px;
				top: 50%;
				margin-top: -275px;
				pointer-events: none;
				
				border-radius: 6px;
				background-color:  #ffffff;
				
				z-index: 102;
				opacity: 0;
				transition: 0.4s;
				
				}
			}
  .single-product.visible .preview-large{
  opacity: 1;
  transition: 1.4s;
  pointer-events: auto;
  }
  
  .preview-large h3{
  // margin-top: px;
	background-color: $primary_yellow;
	font-size: 30px;
	}
	
	.head_single {
		width: 100%;
		height: 50px;
		background-color: $primary_yellow;
	}
  
  .preview-large img{
		position: relative;
		bottom: 10px;
  width: 100%;
  height:auto;
  border-bottom: 3px solid #efefef;
  border-radius: 5px 5px 0 0;
  }
  
  .preview-large p{
	  font-size: 30px;
  line-height: 23px;
  padding: 10px 10px;
  }
  
  .close{
  position: absolute;
  right: 20px;
  top: 5px;
  
  font-size: 28px;
//   color: #555;
  cursor: pointer;
  }
  
  
  /*---------------------------
  Error Page
  ----------------------------*/
  
  .error{
  opacity: 0;
  transition: 0.6s;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  }
  
  .error.visible{
  opacity: 1;
  }
  
  .error h3{
  font-size: 40px;
  }
  
  .contact_us_btn {
		background-color: $primary_yellow;
		outline: none;
		border: none;
		color: #2c292f;
		box-shadow: 0.1px 0.1px 10px $primary_yellow;
		position: relative;
		margin-top: 30px;
		height: 40px;
		width: 100px;
		border-radius: 40px;
	}
	.form {
		width: 80%;
		margin-left: 10%;
		font-style: normal;
		.query {
			height: 100px;
		}
		input {
			padding: 20px;
			border: 2px solid $primary_yellow;
			border-radius: 40px;
		}
	}

	.introduction {
		text-align: center;
		padding-left: 10%;
		padding-right: 10%;
	}
	.team {
		text-align: center;
		margin-top: 40px;
	}

	.members {
		margin: auto;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 700px;
		
		.member {
			margin: auto;
			// width: 25%;
			.team_image {
			width: 100%;
			object-fit: cover;
			}
		}
		.name{
			background-color: $primary_yellow;
			color: black;
			font-style: normal;
		}
	}
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid #ccc;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";
	}
	blockquote:before {
		color: #ccc;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
	blockquote p {
		display: inline;
	}

	.single_product_view {
		width:100%;
		height:400px;
		overflow:hidden;
	}
	

			
		.single_product_image {
			display: block;
		width: 100%;
		}

	